<h3>Hello <%= @user.username %></h3>

<h5>Current Stories</h5>

<h5>Finished Stories</h5>

<h5>Current Jams</h5>

<h5>Upcoming Jams</h5>

<h5>Completed Jams</h5>

<h5><a href="/users/<%= @user.slug %>/edit">Edit Profile</a></h5>





