<h3>Create a New Story</h3>

<form action="/newstory" method="post">
  <label for="title">Title: </label>
  <input type="text" name="story[title]" id="title">
  <label for="jam_selector">Choose Jam: </label>
  <h5>bla bla bla</h5>
  <label for="content">Begin Writing: </label>
  <textarea rows="50" cols="70" name="story[content]" id="content"></textarea>
  <input type="submit" value="Submit">
</form>