<h3><%= @story.title %></h3>
<h5>By: <%=@story.user.username %></h5><br>

<p><%= @story.content %></p>

<% if logged_in? && @story.published? == false && (current_user.id == @story.user_id || current_user.permission == 'admin') %>
  <a href="/stories/<%= @story.id %>/edit">Edit Story</a>
<% else %>
  <h6>This story has been published</h6>
<% end %>
<br>
<a href="/stories">back to stories</a>


