<h3>New Jam</h3>

<form action="/newjam" method="post">
  <label for="name">Name: </label>
  <input type="text" name="jam[name]" id="name"><br>
  <label for="theme">Theme: </label>
  <input type="text" name="jam[theme]" id="theme"><br>
  <label for="start">Start Date: </label>
  <input type="date" name="jam[start_date]" id="start"><br>
  <label for="end">End Date: </label>
  <input type="date" name="jam[end_date]" id="end"><br>

  <input type="submit" value="Submit">
</form>