<h2>Welcome to Write On</h2>
<p>Please log in or sign up below</p>
<a href="/signup">Sign Up!</a>

<nav>
  <% if logged_in? %>
    <a href="/stories/new">Start a New Story</a>
    <a href="/logout">Log Out</a>
    <p>Welcome <%= current_user.username %></p>
  <% else %>
    <a href="/login">Sign In</a>
  <% end %>
</nav>
